.v-text-field--outlined.v-input--is-focused fieldset, .v-text-field--outlined.v-input--has-state fieldset {
    border: 1px solid rgba(255, 255, 255, 1) ;
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
    color: rgba(255, 255, 255, 1);
}

.theme--light.v-input input, .theme--light.v-input textarea {
    color: rgba(255, 255, 255, 0.6);
}
.v-text-field .v-input__control  > .v-input__slot {
    &:hover {
        color: rgba(255, 255, 255, 1);
    }
}

.theme--light.v-label {
    color: rgb(255, 255, 255);
}

.v-text-field .v-label--active {
    max-width: 100%;
    transform: translate(-18px,-30px) scale(0.75) !important;
    pointer-events: auto;
    
}